html {
    padding: auto;
    background-color: rgba(17,19,43,255);
}

/* For WebKit browsers (Chrome, Safari, Brave) */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #424242;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #424242;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-corner {
    background: rgba(17,19,43,255);
}


/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #888 #424242;
}
